# Editors
project.xml
project.properties
/nbproject/private/
.buildpath
.project
.settings*
.idea
*.sublime-project
*.sublime-workspace
.sublimelinterrc
*.swp

/Makefile.*
build/
html/
site/
!src/**/site/
!src/**/html/
tests/integration/config.php
.env
/config.json
/config.php
/extensions/

# Package Managers
.eslintcache
.pnpm-store/
node_modules/
vendor/

# Extension Directory
# src/**/client/**/lib/*
src/**/client/**/css
src/**/client/**/fonts

# +----------------------------+
# |    Keep .gitkeep files     |
# +----------------------------+-------------------------------+
# | To keep an empty directory, add a .gitkeep file to it      |
# | and ignore the directory with a wildcard:                  |
# |                                                            |
# |     /path/to/dir/*                                         |
# |                                                            |
# | this will ignore the content but not the director itself.  |
# +------------------------------------------------------------+
!/**/.gitkeep
