# Editors
project.xml
project.properties
/nbproject/private/
.buildpath
.project
.settings*
.idea
.vscode
*.sublime-project
*.sublime-workspace
.sublimelinterrc
*.swp

build/
site/
!src/**/site/
tests/integration/config.php
.env
config.json
config.php
/extensions/

# Package Managers
.eslintcache
.pnpm-debug.log
.pnpm-store/
node_modules/
vendor/

# Extension Directory
# src/**/client/**/lib/*
src/**/client/**/css/espo/*
src/**/client/**/fonts/*

# +----------------------------+
# |    Keep .gitkeep files     |
# +----------------------------+-------------------------------+
# | To keep an empty directory, add a .gitkeep file to it      |
# | and ignore the directory with a wildcard:                  |
# |                                                            |
# |     /path/to/dir/*                                         |
# |                                                            |
# | this will ignore the content but not the director itself.  |
# +------------------------------------------------------------+
!/**/.gitkeep
