<?php
return [
    'defaultPermissions' => [
        'user' => null,
        'group' => null
    ],
    'useWebSocket' => false,
    'webSocketUrl' => 'ws://localhost:8080/ws',
    'webSocketZeroMQSubscriberDsn' => 'tcp://*:7777',
    'webSocketZeroMQSubmissionDsn' => 'tcp://espocrm-websocket:7777',
    'timeZone' => 'Europe/Warsaw',
    'dateFormat' => 'DD/MM/YYYY',
    'timeFormat' => 'HH:mm',
    'weekStart' => 1,
    'currencyList' => [
        0 => 'USD',
        1 => 'PLN'
    ],
    'defaultCurrency' => 'USD',
    'logger' => [
        'path' => 'data/logs/espo.log',
        'level' => 'DEBUG',
        'rotation' => false
    ],
    'language' => 'en_US',
    'languageList' => [
        0 => 'en_US',
        1 => 'pl_PL'
    ],
    'outboundEmailIsShared' => true,
    'outboundEmailFromName' => 'EspoCRM',
    'outboundEmailFromAddress' => 'admin@espocrm.localhost',
    'smtpServer' => 'smtp4dev',
    'smtpPort' => 25,
    'smtpAuth' => false,
    'smtpSecurity' => '',
    'smtpUsername' => '',
    'smtpPassword' => '',
];
